 <launch>  

<!-- 	<include file="$(find minion_robot)/launch/minion_with_ID.launch">
      <arg name="robotID" value="0" />
      <arg name="x" value="0.5" />
      <arg name="y" value="0.5" />
  </include>
  <include file="$(find minion_robot)/launch/minion_with_ID.launch">
      <arg name="robotID" value="1" />
      <arg name="x" value="1.5" />
      <arg name="y" value="0.5" />
  </include>
  <include file="$(find minion_robot)/launch/minion_with_ID.launch">
      <arg name="robotID" value="2" />
      <arg name="x" value="1.5" />
      <arg name="y" value="1.5" />
  </include>
  <include file="$(find minion_robot)/launch/minion_with_ID.launch">
      <arg name="robotID" value="3" />
      <arg name="x" value="0.5" />
      <arg name="y" value="1.5" />
  </include> -->

<group ns="A1">
 	<arg name="model" default="$(find minion_robot)/urdf/arena1.urdf.xacro"/>
    <param name="height_description" command="$(find xacro)/xacro.py '$(arg model)'"/>
    <node name="height_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false"
          args="-urdf -param height_description -model height" />
</group>

<group ns="A2">
    <arg name="model" default="$(find minion_robot)/urdf/arena2.urdf.xacro"/>
    <param name="heightn_description" command="$(find xacro)/xacro.py '$(arg model)'"/>
    <node name="heightn_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false"
          args="-urdf -param heightn_description -model nheight" />
</group>

<group ns="A3">
    <arg name="model" default="$(find minion_robot)/urdf/arena3.urdf.xacro"/>
    <param name="heightnn_description" command="$(find xacro)/xacro.py '$(arg model)'"/>
    <node name="heightnn_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false"
          args="-urdf -param heightnn_description -model nnheight" />
</group>


<!--     <arg name="model" default="$(find minion_robot)/urdf/heightn.urdf.xacro"/>
    <param name="heightn_description" command="$(find xacro)/xacro.py '$(arg model)'"/>
    <node name="heightn_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false"
          args="-urdf -param heightn_description -model heightn" /> -->

<!--     <arg name="model" default="$(find minion_robot)/urdf/minionnew.urdf.xacro"/>
    <param name="height_description" command="$(find xacro)/xacro.py '$(arg model)'"/>
    <node name="height_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false"
          args="-urdf -param height_description -model height" /> -->

</launch> 
