 <launch>  

 	<arg name="model" default="$(find minion_robot)/urdf/payload.urdf.xacro"/>
    <param name="payload_description" command="$(find xacro)/xacro.py '$(arg model)'"/>
    <node name="payload_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" respawn="false"
          args="-urdf -param payload_description -model payload" />

<!--      <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    		<param name="publish_frequency" type="double" value="30.0" />
  	</node> -->

<!--     <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
 -->
<!--   <include file="$(find minion_robot)/launch/minion_with_ID.launch">
      <arg name="robotID" value="0" />
      <arg name="x" value="0.5" />
      <arg name="y" value="0.5" />
  </include>
  <include file="$(find minion_robot)/launch/minion_with_ID.launch">
      <arg name="robotID" value="1" />
      <arg name="x" value="1.5" />
      <arg name="y" value="0.5" />
  </include>
  <include file="$(find minion_robot)/launch/minion_with_ID.launch">
      <arg name="robotID" value="2" />
      <arg name="x" value="1.5" />
      <arg name="y" value="1.5" />
  </include>
  <include file="$(find minion_robot)/launch/minion_with_ID.launch">
      <arg name="robotID" value="3" />
      <arg name="x" value="0.5" />
      <arg name="y" value="1.5" />
  </include>
 -->

 </launch>